> ## Importing Libraries

In [1]:
import pandas as pd # Data Loading and Manipulation
import seaborn as sns # Interactive Visualization
import matplotlib.pyplot as plt # Base visualization library
import numpy as np # for faster data calculations

import warnings
warnings.filterwarnings("ignore")

> ### Reading Excel file

In [2]:
df = pd.read_excel("Ecommerce_sales.xlsx")
df

,Month,Customer ID,Age,Gender,Income Group,Family size,Product category,Price,items
0,2019-01-01,83,29,F,2000-2500,6,Household,593,10
1,2019-01-01,87,33,F,1000-1500,2,Electronics,82,18
2,2019-01-01,92,30,M,<1000,1,Kitchen,478,14
3,2019-01-01,27,24,M,1500-2000,5,Beverages,442,1
4,2019-01-01,93,39,F,1000-1500,10,Appliances,310,9
...,...,...,...,...,...,...,...,...,...
637,2019-06-01,86,38,M,<1000,3,Appliances,49,19
638,2019-06-01,108,26,M,2500-3000,9,Furniture,476,2
639,2019-06-01,79,37,F,>3000,8,Beverages,396,18
640,2019-06-01,109,34,F,>3000,3,Appliances,245,24
641,2019-06-01,95,27,F,2000-2500,2,Furniture,328,14